.beer-card {
  border: 2px solid #5260ff;
  margin-top: 65px;
}
.beerTypeDegree {
  display: flex;
  justify-content: space-around;
}
.price {
  display: flex;
  justify-content: center;
}
.returnButton {
  position: absolute;
  left: 85%;
}
