<ion-card class="beer-card" *ngIf="beer">
  <ion-card-header>
    <ion-button class="returnButton" color="tertiary" routerLink="/beers"
      >X</ion-button
    >
    <ion-img class="img" src="{{ beer.img }}">X</ion-img>
    <ion-card-title>{{ beer.name | titlecase }}</ion-card-title>
    <ion-card-subtitle>{{ beer.type }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ beer.description }}
  </ion-card-content>
  <div class="beerTypeDegree">
    <ion-badge color="tertiary">{{ beer.type }}</ion-badge>
    <ion-badge color="tertiary">{{ beer.degree }} Alc.</ion-badge>
  </div>
  <ion-text class="price" color="secondary">
    <h1>{{ beer.price | number: "1.2" }} €uro</h1>
  </ion-text>
  <ion-button
    *ngIf="beer.quantity > 0"
    expand="block"
    color="tertiary"
    shape="round"
    (click)="addToBasket()"
    >Add to basket</ion-button
  >
</ion-card>
