<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon name="list-outline" (click)="openFirst()"></ion-icon>
      <ion-title>BEER APP</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="">Retour à l'accueil</ion-item>
      <ion-item routerLink="basket-details">Voir mon panier</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
